q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineuron" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [6]:
n=int(input('enter number of rows:'))
for i in range(n+1):
    for j in range(i):
        print('ineuron',end='\t')
    print()

enter number of rows:4

ineuron
ineuron	ineuron
ineuron	ineuron	ineuron
ineuron	ineuron	ineuron	ineuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon	   ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [25]:
n=int(input('enter number of rows:'))
for i in range(n):
    for j in range(n):
        if (j-i==(n-1)/2) or (i-j==(n-1)/2) or (i==j) and i!=0 and i!=(n-1):
            print('ineuron', end='')
        else:
            print(' '*len("ineuron"), end='')
    print()

enter number of rows:5
              ineuron
       ineuron       ineuron
ineuron       ineuron       ineuron
       ineuron       ineuron
              ineuron

In [26]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity

In [27]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [28]:
#q4 : Try to extract all the dict enteties
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [29]:
#q5 : Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [30]:
#q6 : Try to extract all the numerical data it may be a part of dict key and values 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [44]:
l1=[]
for i in l:
    if type(i)==tuple or type(i)==list or type(i)== set:
        for j in i:
            if type(j)==int:
                print(j)
                l1.append(j)
    if type(i)== dict:
        for j,k in i.items():
            if type(j)==int:
                print(j)
                l1.append(j)
            if type(k)==int:
                print(k)
                l1.append(k)
print(l1)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [45]:
#q7 : Try to give summation of all the numeric data 

l2=sum(l1)

In [48]:
l2

156

In [49]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [51]:
#q8 : Try to filter out all the odd values out of all numeric data which is a part of a list 
for i in l1:
    if i%2==1:
        print(i,end=' ')

1 3 3 5 3 5 7 45 5 23 3 7

In [52]:
#q9 : Try to extract "ineuron" out of this data
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [54]:
for i in l:
    if type(i)==tuple or type(i)==list or type(i)== set:
        for j in i:
            if j=="ineuron":
                print(j)
    if type(i)==dict:
        for j,k in i.items():
            if j=="ineuron":
                print(j)
            if k=="ineuron":
                print(k)

ineuron
ineuron

In [61]:
#q10 :Try to find out a number of occurances of all the data
lo=l1.copy()

In [62]:
lo
for i in l:
    if type(i)==str:
        lo.append(i)
    if type(i)==tuple or type(i)==list or type(i)== set:
        for j in i:
            if type(j)==str:
                lo.append(j)
    if type(i)== dict:
        for j,k in i.items():
            if type(j)==str:
                lo.append(j)
            if type(k)==str:
                lo.append(k)
for i in set(lo):
    print(i, lo.count(i))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
8 1
kumar 1
ineuron 2
k2 1
45 1
k3 1
sudh 1
23 1
k1 1
data science  1

In [66]:
#q11 : Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [70]:
#q12 : Try to filter out all the string data 
for i in lo:
    if type(i)==str:
        print(i,end=' ')

k1 sudh k2 ineuron k3 kumar ineuron data science

In [72]:
#q13 : Try to Find  out alphanum in data
for i in lo:
    if str(i).isalnum()== True:
        print(i,end=' ')

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 6 7 8 k1 sudh k2 ineuron k3 kumar ineuron

In [108]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset ?
ld=[]
for i in l:
    result=1
    if type(i)==tuple or type(i)==list or type(i)== set:
        for j in i:
            if type(j)==int:
                result=result*j
        print(result)
    if type(i)== dict:
        for j,k in i.items():
            if type(j)==int:
                ld.append(j)
            if type(k)==int:
                ld.append(k)
        break;
p=1
for i in ld:  
    p=p*i
print(p)

24
720
2520
20700
1008

In [103]:
ld

[3, 6, 7, 8]

In [101]:
ld

[3, 6, 7, 8, 3, 6, 7, 8, 3, 6, 7, 8, 3, 6, 7, 8, 3, 6, 7, 8, 3, 6, 7, 8]

In [77]:
lt

[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]

In [78]:
ll

[1, 2, 3, 4]

In [79]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [112]:
#q15 : Try to unwrape all the collection inside collection and create a flat list 
print(lo,end='')

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']