Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [34]:
#q1 : Try to print a prime number in between 1 to 1000
def prime_range(a,b):
    for i in range(a,b):
        if i>1:
           for j in range(2,i):
               if(i%j)==0:
                   break
           else:
               print(i,end=' ')

In [36]:
prime_range(1,50)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [41]:
#q2 : Try to write a function which  is equivalent  to print function in python
import logging
def print1(*args):
     return logging.info(args)

In [46]:
print1('test',1,'print')

In [50]:
#q3 : Try to write a function which is a replica of list append , extend and pop function
def append1(l1,l2):
    l1.extend([l2])
    return l1

In [54]:
l1=[1,2,3]
l2=[4,5,6]
print(append1(l1,l2))

[1, 2, 3, [4, 5, 6]]

In [55]:
l1.append(l2)

In [57]:
def extend1(l3,l4):
    for i in l4:
        l3.append(i)
    return l3

In [58]:
extend1([3,4,5],[6,7,8])

[3, 4, 5, 6, 7, 8]

In [59]:
def pop1(l):
    ln=[]
    ln.append(l[-1])
    return ln[0]

In [60]:
pop1([7,8,5,6])

6

In [62]:
#q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
x= lambda *a: "".join(a)
print(x('r','a','k','e','s','h'))

rakesh

In [75]:
#5 : Try to write a lambda function which can return list of square of all the data between 1-100 
l= [ i**2 for i in range(100)]

In [76]:
l

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]